<html>
	<head>
		<title>Home Page</title>
	</head>
	<body>
		<div class="form">
			<form method="POST" action="">
			{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.firstname.label }}
					{{ form.firstname }}
					{% if form.firstname.errors %}
						<div class="error">
							{% for error in form.firstname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}
				</div><br>
				<div class="form-group">
					{{ form.lastname.label }}
					{{ form.lastname }}
					{% if form.lastname.errors %}
						<div class="error">
							{% for error in form.lastname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}
				</div><br>
				<div class="form-group">
	    		    {{ form.prizegen }}
	    	    </div>
    	</form>
    </div>
</body>
</html>